.page-main {
  background-color: #f4f4f4;

  .sidebar {
    background-color: #31445a;
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    text-align: left;

    .brand {
      font-family: 'Nunito', sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      color: #fff;
      padding: 0.8rem 0;
      text-align: center;

      svg {
        margin-right: 5px;
      }
    }

    .nav {
      .nav-item {
        .nav-link {
          font-family: 'Nunito', sans-serif;
          font-weight: 200;
          font-size: 1.05rem;
          color: #d5dde8;
          margin-bottom: 0.2rem;
          padding: 0.7rem 0 0.7rem 15px;

          .link-icon {
            color: #d5dde8;
            margin-right: 6px;
          }

          &:hover {
            background-color: #1f2b39;
          }

          &.active {
            background-color: #1f2b39;
            color: #fff;

            .link-icon {
              color: #fff;
            }
          }
        }
      }
    }
  }

  main {

  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  .section-inquiry {
    ul {
      margin: 0;
      padding: 0;
    }

    .question {
      border: 1px solid #ccc;
      list-style: none;
      margin-bottom: 1rem;
      padding: 0.7rem 1rem;
    }
  }
}

